<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ language_name }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js">
</script>



  </head>
  <body>



    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
 
       

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarSettings">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-end"> <!-- place something at the end of navbar --> </div>
    
      <div id="navbarSettings" class="navbar-menu">






        
        <div class="navbar-start">
          <div class="navbar-item">


              <!-- Font size control buttons grouped with Bulma addons, with right margin for spacing -->


                <button id="font-size-decrease" class="button is-light" aria-label="Decrease font size">-</button>

                  <span class="icon">
                    <i class="fas fa-font"></i>
                  </span>
                
                <button id="font-size-increase" class="button is-light" aria-label="Increase font size">+</button>

            <!-- Info icon 
            <div class="navbar-item">
            
            <a href="info.html"  aria-label="Info">
              <span class="icon">
                <i class="fas fa-info-circle"></i>
              </span>
            </a>
            </div>
            -->

            <!-- Bible icon with a right margin 
             <div class="navbar-item">
            <a href="bible.html" class="button is-light mr-2" aria-label="Bible Passages">
              <span class="icon is-small">
                <i class="fas fa-book"></i>
              </span>
            </a>
            </div>
            -->



    
        </div>
      </div>
    </nav>

    <main>

      <h1 class="title">{{ language_name }}</h1>

      <div id="translationBox" class="translation-box"></div>

    </main> 

 <!-- include at the end of the body-->
 <script src="{{ url_for('static', filename='scripts.js') }}"></script>
 <script>
  // Define constants for the script
  const language = "{{ language }}";

</script>
<script src="{{ url_for('static', filename='translate.js') }}"></script>
<script>   
  // Load the full content and start polling for updates.
  loadFullContent();
  // HACK: Each second we update the full content. This is a temporary solution until we have a better way to update the content.
  // 
  setInterval(loadFullContent, 500);
  
</script>  
</body>

</html>